.container {
  max-width: 1300px;
  margin: auto;
}

.grid {
  height: 100vh;
  background-color: aqua;
  display: flex;
  flex: row;
  gap: 8rem;
  justify-content: center;
  padding-top: 200px;
}

.grid-table {
  border: 1px solid black;
  height: 600px;
  width: 600px;
}

.game-data {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.game-button {
  height: 200px;
  width: 200px;
  font-size: 50px;
}

#restart {
  display: none;
}
