.container {
  max-width: 1300px;
  margin: auto;
}

.grid {
  height: 100vh;
  background-color: #3030d4;
  display: flex;
  flex: row;
  gap: 8rem;
  justify-content: center;
  padding-top: 200px;
}

.grid-table {
  border: 1px solid white;
  height: 600px;
  width: 600px;
}

.game-data {
  height: 200px;
  width: 200px;
  border: 1px solid white;
  background-color: #3030d4;
}

.description {
  color: white;
}

.game-button {
  height: 200px;
  width: 200px;
  font-size: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.3s ease;
}

#winText {
  font-size: 2rem;
  margin-top: 50px;
  color: white;
}

#restart {
  display: none;
  border-radius: 12px;
  border: none;
  margin-top: 50px;
}
